In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = [{
    "name": "John Cena",
    "sex": "male",
    "birth": "1980-01-01"
}, {
    "name": "Gabriel",
    "sex": "yes",
    "birth": "2000-01-01"
}]

In [3]:
data_df = pd.DataFrame(data)
data_df

        name   sex       birth
0  John Cena  male  1980-01-01
1    Gabriel   yes  2000-01-01

In [4]:
data = {
    "name": ["John Cena", "Gabriel"],
    "sex": ["male", "yes"],
    "birth": ["1980-01-01", "2000-01-01"]
}

In [5]:
data_df = pd.DataFrame(data)
data_df

        name   sex       birth
0  John Cena  male  1980-01-01
1    Gabriel   yes  2000-01-01